@import "~bootstrap/scss/bootstrap";

th {
  width: auto;

  &.min {
    width: 1% !important;
    white-space: nowrap;
  }
}

.status-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}
